{
    "presets": ["react", "es2015", "stage-0"],
    "sourceMaps": "both",
    "plugins": [
        "transform-node-env-inline"
    ],
    "env": {
        "production": {
            "plugins": [
              "transform-react-constant-elements"
            ]
        }
    }
}
